.current {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.temperature {
  margin: 0 auto;
  font-size: 4em;
}

.short-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.short-info p {
  flex: 1;
  line-height: 200%;
}

.sun {
  display: flex;
  border-top: 1px solid #fff;
}

.sun p {
  flex: 1;
  line-height: 200%;
}
