.container {
  padding: 2rem 1rem 0rem;
  color: #fff;
}

.container > p {
  font-weight: bolder;
}

.header {
  display: flex;
  justify-content: space-around;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
}

h2 {
  margin-top: 3rem;
}

.toggle-units {
  border-radius: 10px;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  background-color: #fff;
  color: rgb(43, 44, 44);
}

.toggle-units:hover {
  background-color: #85b6b8;
}
