body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*--------------------*/

.header {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}
.header p {
  margin: 0;
}
.current {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid red;
  text-align: center;
}

.temperature {
  margin: 0 auto;
  font-size: 4em;
}

.short-info {
  display: flex;
  justify-content: space-around;
}

.short-info p {
  flex: 1;
}

.sun {
  display: flex;
  border-top: 1px solid #000;
}

.sun p {
  flex: 1;
}

.forecast {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  /* height: 300px; */
  margin: 0 auto;
  border: 1px solid rgb(164, 61, 224);
}

.overview {
  flex: 1 1;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(61, 224, 69);
}
.detail {
  flex: 2;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(61, 99, 224);
}

.forecast-selections {
  display: flex;
  padding: 0.5vw;
}
.forecast-selections p {
  margin: 0.5vw;
}
.forecast-type-btn {
  width: 30%;
  /* display: inline; */
}

.overview {
  display: flex;
}

.overview-card {
  border: 1px solid rgb(228, 107, 191);
  height: 100px;
  flex: 1;
  text-align: center;
}

.hourly {
  display: grid;
}

table {
  border-collapse: collapse;
}

th {
  padding: 1vw 0;
}
td {
  padding: 1vw 0;
  text-align: center;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.detail ul {
  margin: 0;
  padding: 0;
}
.detail li {
  list-style: none;
  padding: 0.75vw;
  border: 1px solid #000;
}
